body {
    background: linear-gradient(to right, #43cea2, #185a9d);
}


.login-container {
    background: white;
    padding: 30px;
    width: 320px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #43cea2;
    transition: 0.3s;
}

button:hover {
    background: #185a9d;
    transform: scale(1.05);
}

.forgot {
    display: block;
    margin: 10px 0;
    color: #185a9d;
    text-decoration: none;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}